/*archivo1.0*/
#Qinicial{
    background-color: rgba(0,0,0,0.9); 
}
#preguntainicial {
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    text-align: center;
    position: relative;
    bottom: -80px;
    font-size: 40px;
    color:white;
}
#output {
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    position: relative;
    bottom: -120px;
}
.slider {
    width: 50%;
    margin: 30px;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -130px;
}
.boton4{
    background: transparent url('confirmar.svg') no-repeat top left;
    background-size: contain;
    width:  150px;
    height: 74px;
    border: 1px solid transparent;
}

/*archivo1.1.1 y archivo1.1.2*/

.respuestainicial{
    color:white;
    font-size: 30px;
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    text-align: center;
    position: relative;
    bottom: -20px;
}
.personas{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -50px;
}
#output2 {
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color:#F5A7E4;
    position: relative;
    bottom: -50px;
}
#texto {
    font-size: 30px;
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    text-align: center;
    color:#F5A7E4;
    font-weight: bold;
    position: relative;
    bottom: -20px;
}
#promedioredes {
    position: relative;
    left: 130px;
    bottom: -10px;
    width: 540px;
    height: 90px;
}
#reloj{
    position: relative;
    left: 60px;
    bottom: -10px;
    width: 490px;
    height: 90px;
}
.boton9{
    background: transparent url('siguiente.svg') no-repeat top left;
    width:  140px;
    height: 43px;
    background-size: contain;
    border: 1px solid transparent;
    position: relative;
    bottom: -70px;
    left: 40px;
}
/*archivo1.2*/


.titulos{
    font-family: fuente1;
    src:url(AndorRegular.otf);
    font-size: 80px;
}
.titulos2{
    font-family: fuente1;
    src:url(AndorRegular.otf);
    font-size: 60px;
}
#titulo2{
    color:#7048C5;
    padding-top: 0px;
    background: rgba(255,218,118,0.8)
}
#titulo3{
    color:#E7476E;
    padding-top: 0px;
    background: rgba(0,0,0,0.9)
}
.subtitulos{
    font-family: fuente3;
    src:url(Lato-Light.ttf);
    font-size: 40px;
}

.boton1{
    background: transparent url('aplicacion1.svg') no-repeat top left;
    width:  72px;
    height: 74px;
    background-size: contain;
    border: 1px solid transparent;
}
.boton2{
    background: transparent url('aplicacion2.svg') no-repeat top left;
    width:  72px;
    height: 74px;
    background-size: contain;
    border: 1px solid transparent;
}
.boton3{
    background: transparent url('aplicacion3.svg') no-repeat top left;
    width:  72px;
    height: 74px;
    background-size: contain;
    border: 1px solid transparent;
}


.boton5{
    background: transparent url('inicio.svg') no-repeat top left;
    background-size: contain;
    width:  70px;
    height: 36px;
    border: 1px solid transparent;
}


.historias {
    padding: 10px;
    border: 1.5px solid;
}






#subtitulo1{
    font-family: fuente1;
    font-size: 60px;
}




#inicio {
    background: transparent url('backgroundpaginaprincipal.svg') no-repeat top;
    /*background-image: url("backgroundpaginaprincipal.svg");
    background-size: cover;
    background-position: center;*/
    height: 260vh;
    position: relative;
    bottom: 100px;
    opacity: 0.9;
}
#respuesta{
    background: transparent url('Narrativa.png') no-repeat top;
    /*background-image: url("backgroundpaginaprincipal.svg");
    background-size: cover;
    background-position: center;*/
    height: 100vh;
}
.tprincipal{
    font-family: fuente1;
    src:url(AndorRegular.otf);
    font-size: 90px;
    text-align: right;
    font-weight:bold;
    
}
#T1{
    position: relative;
    bottom: -30px;
    left: -10px;
}
#T2{
    position: relative;
    bottom: 80px;
    left: -10px;
}
#T3{
    position: relative;
    bottom: 170px;
    left: -10px;
}
#T4{
    position: relative;
    bottom: 260px;
    left: -10px;
}

.slider-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #131E1C;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #F59EE2;
    cursor: pointer;
}

.mensajes{
    display: none;
    position: relative;
    left: 900px;
    height: 10vh;
    width: 60vh;
    bottom: 450px;
}

#hazclick{
    display: none;
    height: 12vh;
    width: 60vh;
    position: relative;
    left: 750px;
    bottom: -300px;

}

/*popup son de los 1.3*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease;
}
  
.popup:hover {
    opacity: 0.5;
    transition: opacity 4s ease;
}
  
.popup-content {
    display: inline-block;
}
