/*archivo1.0*/
#Qinicial{
    background-color: rgba(0,0,0,0.9); 
}
#preguntainicial {
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    text-align: center;
    position: relative;
    bottom: -60px;
    font-size: 40px;
    color:white;
    line-height: 1.5;
}
#output {
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    position: relative;
    bottom: -80px;
}
.slider {
    width: 50%;
    margin: 30px;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -80px;
}
.boton4{
    background: transparent url('confirmar.svg') no-repeat top left;
    background-size: contain;
    width:  150px;
    height: 74px;
    border: 1px solid transparent;
}

/*archivo1.1.1 y archivo1.1.2*/

#respuesta{
    background-color: rgba(0,0,0,0.9);
}
.respuestainicial{
    color:white;
    font-size: 25px;
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    text-align: center;
    position: relative;
    bottom: -30px;
}
.personas{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -80px;
}
#output2 {
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color:#F5A7E4;
    position: relative;
    bottom: -85px;
}
#texto {
    font-size: 25px;
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    text-align: center;
    color:#F5A7E4;
    font-weight: bold;
    position: relative;
    bottom: -70px;
    line-height: 1.25;
}
#promedioredes {
    position: relative;
    left: 130px;
    bottom: -90px;
    width: 520px;
    height: 70px;
}
#reloj{
    position: relative;
    left: 60px;
    bottom: -90px;
    width: 470px;
    height: 70px;
}
.boton9{
    background: transparent url('siguiente.svg') no-repeat top left;
    width:  130px;
    height: 33px;
    background-size: contain;
    border: 1px solid transparent;
    position: relative;
    bottom: -105px;
    left: 140px;
}

#footinicial{
    color: white;
    font-size: 15px;
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    text-align: left;
    position: relative;
    bottom: -300px;
}

.foot{
    color: white;
    background-color: #F5A7E4;
    font-size: 15px;
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    text-align: left;
    position: relative;
    bottom: -300px;
}

/*archivo1.1.3*/
#t1peligro{
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}
#t2peligro{
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    bottom: 30px;
    line-height: 1.25;
}
#t3peligro{
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    bottom: 50px;
    line-height: 1.25
}
#peligro1{
    position: relative;
    left: 380px;
    bottom: -75px;
}
#peligro2{
    position: relative;
    left: 830px;
    bottom: 70px;
}
.boton11{
    background: transparent url('siguiente2.svg') no-repeat top left;
    width:  130px;
    height: 33px;
    background-size: contain;
    border: 1px solid transparent;
    position: relative;
    bottom: 0px;
    left: 580px;
}

/*archivo1.2*/
.headerinicio{
    background-color: #F473D8;
    height:80px;
}
.boton1{
    background: transparent url('aplicacion1.svg') no-repeat top left;
    width:  60px;
    height: 60px;
    background-size: contain;
    border: 1px solid transparent;
}
.boton2{
    background: transparent url('aplicacion2.svg') no-repeat top left;
    width:  60px;
    height: 60px;
    background-size: contain;
    border: 1px solid transparent;
}
.boton3{
    background: transparent url('aplicacion3.svg') no-repeat top left;
    width:  60px;
    height: 60px;
    background-size: contain;
    border: 1px solid transparent;

}
.aplicaciones{
    position: relative;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#inicio {
    background: transparent url('backgroundpaginaprincipal.svg') no-repeat top;
    height: 199vh;
    opacity: 0.9;
    position: relative;
    bottom: 90px;
}
#tprincipal{
    font-family: fuente1;
    src:url(AndorRegular.otf);
    font-size: 90px;
    text-align: right;
    font-weight:bold;
    position: relative;
    left: -30px;
    bottom: -30px;
    color: white;   
}
#T1{
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-size: 25px;
}
#T2{
    font-family: fuente1;
    src:url(AndorRegular.ttf);
    font-size: 50px;
    position: relative;
    bottom: 15px;
}
#T3{
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-size: 25px;
    position: relative;
    bottom: 35px;
}
#T4{
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-size: 25px;
    position: relative;
    bottom: 35px;
}
#textoinicial{
    position: relative;
    left: 340px;
    bottom: -80px;
}


/*archivo1.3*/
.titulos{
    font-family: fuente1;
    src:url(AndorRegular.otf);
    font-size: 50px;
    color: white;
    position: relative;
    left: 20px;
}
.backgroundtitulos{
    background-color: #F5A7E4;
}
.subtitulos{
    font-family: fuente3;
    src:url(Lato-Regular.ttf);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#boton6{
    background: transparent url('boton6.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
}
#boton61{
    background: transparent url('boton61.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
}
#boton7{
        background: transparent url('boton7.svg') no-repeat top left;
        background-size: contain;
        width:  130px;
        height: 54px;
        border: 1px solid transparent;
}
#boton71{
    background: transparent url('boton71.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
}
#boton8{
    background: transparent url('boton8.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
}
#boton81{
    background: transparent url('boton81.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
}
#boton10{
    background: transparent url('boton10.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
}
#boton101{
    background: transparent url('boton101.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
}
.botonesgraf{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup1 {
    background: transparent url('Haz_doble_click.svg') no-repeat top left;
    position: relative;
    top: -240px;
    left: 0px;
    padding: 20px;
    width: 70px;
    float: right;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease;
}
.popup1.hidden1 {
    opacity: 0;
    transition: opacity 0.9s ease;
    pointer-events: none;
}
.popup-content1 {
    display: inline-block;
}
.popup2 {
    background: transparent url('Desliza.svg') no-repeat top left;
    position: relative;
    top: -70px;
    left: -15px;
    padding: 20px;
    width: 70px;
    float: right;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease;
}
.popup2.hidden2 {
    opacity: 0;
    transition: opacity 0.9s ease;
    pointer-events: none;
} 
.popup-content2 {
    display: inline-block;
}
.popup3 {
    background: transparent url('presiona.svg') no-repeat top left;
    position: relative;
    top: -500px;
    left: 150px;
    padding: 20px;
    width: 70px;
    float: right;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease;
}  
.popup3.hidden3 {
    opacity: 0;
    transition: opacity 0.9s ease;
    pointer-events: none;
} 
.popup-content3 {
    display: inline-block;
}
.popup4 {
    background: transparent url('mira.svg') no-repeat top left;
    position: relative;
    top: -535px;
    left: 240px;
    padding: 20px;
    width: 70px;
    float: left;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease;
} 
.popup4.hidden4 {
    opacity: 0;
    transition: opacity 0.9s ease;
    pointer-events: none;
} 
.popup-content4 {
    display: inline-block;
}

/*archivo1.3.4*/
#f1{
    background: transparent url('f2.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
    position: relative;
    top: 20px;
    left:100px;
    
}
#w1{
    background: transparent url('w2.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
    position: relative;
    top: 20px;
    left:200px;
}
#i1{
    background: transparent url('i2.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
    position: relative;
    top: 20px;
    left:300px;
}
#s1{
    background: transparent url('s2.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
    position: relative;
    top: 20px;
    left:400px;
}
#t1{
    background: transparent url('t2.svg') no-repeat top left;
    background-size: contain;
    width:  130px;
    height: 54px;
    border: 1px solid transparent;
    position: relative;
    top: 20px;
    left:500px;
}
.analisis{
    display: none;
}
#f3{
    position: relative;
    top: -30px;
    left: 50px;
}

/*archivo1.4*/
#texto4{
    font-family: fuente2;
    src:url(Lato-Regular.ttf);
    font-size: 25px;
    position: relative;
    left: 10px;
    line-height: 1.25;
}
#addiccion1{
    position: relative;
    left: 100px;
    width: 500px;
    height: 500px;
}
#soledad1{
    position: relative;
    left: 150px;
    width: 500px;
    height: 500px;
}
#exp1{
    position: relative;
    left: 100px;
    bottom: -50px;
    width: 500px;
    height: 500px;
}
#cyber1{
    position: relative;
    left: 150px;
    bottom: -50px;
    width: 500px;
    height: 500px;
}
#addiccion2{
    display: none;
    position: absolute;
    left: 108px;
    bottom: -232px;
    width: 500px;
    height: 500px;
}
#soledad2{
    display: none;
    position: absolute;
    left: 662px;
    bottom: -232px;
    width: 500px;
    height: 500px;
}
#exp2{
    display: none;
    position: absolute;
    left: 108px;
    bottom: -785px;
    width: 500px;
    height: 500px;
}
#cyber2{
    display: none;
    position: absolute;
    left: 662px;
    bottom: -785px;
    width: 500px;
    height: 500px;
}
#mensajeayuda{
    position: fixed;
    bottom: 10px;
}

#textoayuda{
    font-family: fuente1;
    src:url(AndorRegular.otf);
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 20px;
}
.hidden {
    display: none;
  }
.ayudas{
    width: 1000px;
    height: 100px;
    position: relative;
    left: 150px;
}

.boton5{
    background: transparent url('inicio.svg') no-repeat top left;
    background-size: contain;
    width:  70px;
    height: 36px;
    border: 1px solid transparent;
}

